version: '3.3'

services:
  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=boot
      - MYSQL_HOST=127.0.0.1
    ports:
      - 3306:3306

  rocket:
    build: .
    command: bash -c "cargo run"
    links:
      - mysql
    environment:
      - DATABASE_URL=mysql://root:boot@mysql/items
    ports:
      - 8088:8088
