name: Docker Build

on:
  push:
    branches:
      - 'main'

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1
      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6.7.0
        with:
          push: false
          tags: aniskhan001/rocket-rust:latest
