name: Rust Build

on:
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4.1.6

    - name: Update to nightly toolchain
      run: rustup update nightly && rustup default nightly

    - name: Build
      run: cargo build --verbose
